*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 60px;
}

html{
    font-family:'Roboto', sans-serif;
}

nav{
    background-color:white;
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 30px;
    z-index: 99;
}

.menu-left{
    display: flex;
    align-items: center;
    height: 100%;
	white-space: nowrap;
    justify-content: flex-start;  
}

.container-menu{
    width: 100%;
    display: flex;
}

.menu-right{
    display: flex;
    align-items: center;
    height: 100%;
	white-space: nowrap;
    justify-content: flex-end;
}

li {
	list-style: none;
	display: flex;
	align-items: center;
    padding: 1em 1em;
}

.text-nav{
    text-decoration: none;
    color: gray;
}

.text-nav1{
    background-color: #0061FF;
    color: white;
    padding: 0.3em 0.5em;
    text-decoration: none;
}

/* header */

header{
    background-color: #B4D0E7;
    position: relative;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}
 
h1{
   font-size: 63px;
   padding-top: 1em;
}

.container-flex{
    display: flex;
    margin-top: -2em;
}

.item{
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
}

.item1{
    flex-basis: 0;
    flex-grow: 2;
    flex-shrink: 0;
}

.img-item{
    width: 100%;
    position: relative;
    top: 4em;
}

.text-form{
    font-size: 14px;
    position: relative;
    top: 5em;
}

.p-marg{
    margin-bottom: 3em;  
}

.button-blue{
    background-color: #0061FF;
    color: white;
    padding: 1em 1em;
    text-decoration: none;
}

.text-bottom{
    margin-top: 3em;
}

.arrow-bottom{
    font-size: 30px;
    position: absolute;
    left: 0;
    bottom: 70px;
}
 /* main */

 .container2{
    max-width: 800px;
    margin-top: 8em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-size: 34px;
}

/* buttom */

.buttom-flex{
    display: flex;
    margin-top: 3em;
}

.container-buttom {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container-buttom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }

  .container-buttom:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container-buttom input:checked ~ .checkmark {
    background-color: #0061FF;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container-buttom input:checked ~ .checkmark:after {
    display: block;
  }

  .container-buttom .checkmark:after {
   top: 4.8px;
   left: 4.8px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
   padding: .1em .1em;
}

/* table */

.container3{
    max-width: 800px;
    margin: 2em auto;
}

.margin-text-sm{
    margin-top: 3em; 
}

.text-small{
    font-size: 14px;
    padding: 0.5em 0;
    display: flex;
}

.text-small2{
    font-size: 14px;
    padding: 0.5em 0;
    margin-bottom: 3em;
    display: flex;
}

.text-small3{
    font-size: 14px;
    margin: 2.5em 0;
}

.button-blue2{
    background-color: #0061FF;
    color: white;
    padding: .8em 1em;
    text-decoration: none;
}

.button-blue3{
    background-color: #0061FF;
    color: white;
    padding: .8em 4.5em;
    text-decoration: none;
}

.fa-check{
    color: #0061FF;
}

.container-flex2{
    display: flex;
    gap: 1.5em;
}

.table-flex{
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;   
}

.table1{
    border: 1px solid gray;
    border-bottom: 0;
    padding: 1em 2em;
    text-align: center;
}

.table2{
    border: 1px solid gray;
    padding-top: 2em;
    padding-bottom: 10em;
    padding-left: 1em;
}

.table3{
    border: 1px solid gray;
    padding-top: 2em;
    padding-bottom: 2.1em;
    padding-left: 1em;
}

.table4{
    border: 1px solid gray;
    padding-top: 2em;
    padding-bottom: 8.1em;
    padding-left: 1em;
}

.margin-text-sm h3{
    margin-top: 2em;
    padding-bottom: 1em;
    font-size: 14px;
}

.short-line{
    width: 3em;
    color: gray;
}

.table2 h2{
    margin-bottom: 1em;
    font-size: 24px;
}

.table2 h3{
    margin-bottom: 0.5em;
}

.table3 h2{
    margin-bottom: 1em;
    font-size: 24px;
}

.table3 h3{
    margin-bottom: 0.5em;
}

.text-color{
    color: gray;
}

.table4 h2{
    margin-bottom: 1em;
    font-size: 24px;
}

.table4 h3{
    margin-bottom: 0.5em;
}

/* table2 */

.container4{
    max-width: 800px;
    margin: 2em auto;
}

.table5{
    border: 1px solid gray;
    border-bottom: 0;
    padding: 1em 2em;
    text-align: center;
}

.table6{
    border: 1px solid gray;
    display: flex;
    padding: 2em 1em;
    justify-content: space-around;
}

.button-blue4{
    background-color: #0061FF;
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 15px; 
    position: relative;
    left: 1em;
}

.table6 h2{
    margin-bottom: 1em;
    font-size: 24px;
}

.table6 h3{
    margin-bottom: 0.5em;
    font-size: 18px;
}

.table6 p{
    margin-top: 4em;
    margin-bottom: 0em;
    font-size: 12px;
}

/* Section */

.flex1{
    display: flex;
    padding: 4em 0;
}

.img-partner{
    width:60%;
    margin-right: 2em;
}

.text-partner{
    margin-top: 3em;
}

.text-partner h2{
    font-size: 22px;
    margin-bottom: 1em;
}

.text-partner p{
    font-size: 14px;
    margin-bottom: 2em;
}

.text-partner a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 0.5em 1em;
    font-size: 14px;
}

/* section */


